{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Chat{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'chat/styles.css' %}">
    {% block script %}
    {% endblock %}

</head>
<body>

<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'index' %}">Messenger</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                        <img style="width: 40px;height: 40px" src="{{ user.customuser.image.url }}">
                        <a class="nav-item nav-link"
                           href="{% url 'profile' user.customuser.id %}">{{ user.username }}</a>
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                    {% elif user.user.is_authenticated %}
                        <img style="width: 40px;height: 40px" src="{{ user.image.url }}">
                        <a class="nav-item nav-link"
                           href="{% url 'profile' user.id %}">{{ user.user.username }}</a>
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    {% block body %}
    {% endblock %}
</div>
</body>
</html>