{% extends "chat/layout.html" %}
{% load static %}

{% block body %}

    <form action="{% url 'new_group' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="name" placeholder="Group name">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="description" placeholder="Description">
        </div>
        <h5>Chose Friends For Group</h5>
        {% for u in custom_users %}
            {% if user.username != u.user.username %}
                <input class="ml-5" type="checkbox" id="{{ u.id }}" name="{{ u.user.username }}"
                       value="{{ u.user.username }}">
                <label for="{{ u.id }}"> {{ u.user.username }}</label><br>
            {% endif %}
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="Add">
    </form>


{% endblock body %}

