body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

ul {
    margin: 0;
}

.bg-steel {
    background-color: #4a154b;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.nav-item, .nav-link {
    display: block;
    float: right;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

#groups {
    display: block;
    width: 300px;
    height: 800px;
    border-right: 1px black solid;
    margin-right: -1px;
    float: left;
}

.group-item > * {
    margin-left: 20px;
}

.group-item:hover {
    background: #dddddd;
    border-radius: 5px;
}

.group-name {
    color: #444444;
}

a.group-name:hover {
    color: #428bca;
    text-decoration: none;
}

#chat {
    display: block;
    width: 1000px;
    float: left;
    border-left: 1px black solid;
    margin-left: -1px;
}

.message {
    height: 75px;
    margin: 10px;
}

.message:hover {
    background: #dddddd;
    border-radius: 5px;
}

.message img {
    margin: 5px;
    height: 60px;
    width: 60px;
    border-radius: 5px;
    display: block;
    float: left;
}

.message a {
    color: black;
    font-weight: bold;
    display: block;
    float: left;
    margin-right: 10px;
}

.message p:first-child {
    margin-top: 20px;

}

.message p:last-child {
    font-size: 15px;
    font-family: Slack-Lato, appleLogo, sans-serif;
}